<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru-RU&amp;apikey=<704fdb3b-dc95-41f9-9ae5-30cb3221ec01>" type="text/javascript"></script>
  <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
    <div class="container">

    </div>
</body>
</html>
